REFRESHER_BASE_URL=https://www.data.go.kr
REFRESHER_LIST_PATH=/iim/api/selectAcountList.do
REFRESHER_LIST_STATUS=dupReq
REFRESHER_TIMEOUT=30
REFRESHER_HEADLESS=0
# REFRESHER_STORAGE_DIR=C:\project\nara_storage\refresher
