node_modules
.next
.git
.gitignore
.env*.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist
build
coverage
.turbo
.vercel
.idea
.vscode
README.md
Thumbs.db
